<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseAppId</key>
	<string>uMughG4wp1FyrQGri9iYpMRRP16SDu5l8oMzU4HY</string>
	<key>parseClientId</key>
	<string>127QM6nDlGqNpmYEjW6bceFYtmcjzYWuPJoBFUqV</string>
</dict>
</plist>
